@media (min-width: 535px) and (max-width: 824px) {
  [class*="col-"]{
    width: 100%;
  }
  [class*="rockUno"]{
    width: 250px;
    height: 250px;
  }
  [class*="rockDos"]{
    width: 250px;
    height: 250px;
  }
  [class*="rockTres"]{
    width: 250px;
    height: 250px;
  }
  [class*="visible"]{
    display: none;
  }
  [class*="oculto"]{
    display: inline-block;
  }
}

@media (min-width: 200px) and (max-width: 534px) {
  [class*="col-"]{
    width: 100%;
  }
  [class*="title"]{
    margin: 0;
    margin-top: 10%;
  }
  [class*="rockUno"]{
    width: 200px;
    height: 200px;
  }
  [class*="rockDos"]{
    width: 200px;
    height: 200px;
  }
  [class*="rockTres"]{
    width: 200px;
    height: 200px;
  }
  [class*="visible"]{
    display: none;
  }
  [class*="oculto"]{
    display: inline-block;
  }
}


